/.env
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/*
!/var/cache/
!/var/log/
/var/cache/*
!/var/cache/.gitkeep
/var/log/*
!/var/log/.gitkeep
/vendor/
###> symfony/framework-bundle ###
/public/bundles/
/var/
!/var/cache/.gitkeep
!/var/log/.gitkeep
/vendor/
###< symfony/framework-bundle ###
###> phpunit/phpunit ###
.phpunit.result.cache
###< phpunit/phpunit ###
/.data/
