parameters:

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude:
            - '../src/Kernel.php'

    App\Form\SignaturePageType:
        arguments:
            $examplePdfUrl: '%nowo_pdf_signable.example_pdf_url%'

    App\Controller\SignatureController:
        arguments:
            $examplePdfUrl: '%nowo_pdf_signable.example_pdf_url%'
